<footer>
  <div class="countries">
      <p>Envie sua mensagem e fotos: <a href="mailto:contato@capitaojack.com.br" target="_top">contato@capitaojack.com.br</a></p>
      <p class="edition">Edição nº 001/Março - Ano 2018</p>
      <div class="flags">
          <img src="assets/images/flag-brasil.png" alt="capitaojack brasil">
          <img src="assets/images/flag-argentina.png" alt="capitaojack argentina">
          <img src="assets/images/flag-uruguai.png" alt="capitaojack uruguai">
          <img src="assets/images/flag-chile.png" alt="capitaojack chile">
          <img src="assets/images/flag-paraguai.png" alt="capitaojack paraguai">
      </div>
      <p class="edition">Edição de Abr/2018 também no idioma<br>Espanhol e Inglês</p>
  </div>
  <div class="essay">
      <div class="essay-info">Redação: 479.9702.5750</div>
      <div class="info">Giovani De Lucca</div>
      <div class="small-info">Jornalista Responsável:</div>
      <div class="medium-info">Registro Profissional MTE 17.127/RS</div>
  </div>
  <div class="clear-both"></div>
</footer>