<div class="loader" *ngIf="!slides || !slides.length || !slides[activeIndex]"><img src="assets/images/loading.gif" alt="capitaojack loader"></div>
<ngx-slick class="slider" #slickModal="slick-modal" [config]="slideConfig" (beforeChange)="beforeChange($event)" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide" (click)="slideClick(i)">
        <img src="{{ slide.imagem_principal }}" width="100%">
        <img src="{{ slide.imagem_principal }}" class="hover" width="100%">
    </div>
</ngx-slick>
<div class="typer" *ngIf="slides && slides.length && slides[activeIndex]">
    <app-typer-effect [text]="typerText" [mobileText]="slides[activeIndex].texto_slide" [speed]="46" [startAfter]="2000" [repeat]="5000"></app-typer-effect>
</div>
<header>
    <img [src]="slides[activeIndex].imagem_principal || 'assets/images/header.jpg'" alt="capitaojack capitao jack" class="active-image" [ngClass]="{ 'loading': loadingSlide, 'has-negative': (slides[activeIndex].imagem_interna || slides[activeIndex].texto_slide) && !slides[activeIndex].esconder_negativo }">
    <div class="negative-content" *ngIf="(slides[activeIndex].imagem_interna || slides[activeIndex].texto_slide) && !slides[activeIndex].esconder_negativo" [ngClass]="{ 'only-image': !slides[activeIndex].texto_slide, 'only-text': !slides[activeIndex].imagem_interna }">
        <img [src]="slides[activeIndex].imagem_interna" class="negative-image" *ngIf="slides[activeIndex].imagem_interna">
        <div class="negative-text franklin" *ngIf="slides[activeIndex].texto_slide" [innerHtml]="slides[activeIndex].texto_slide"></div>
    </div>
    <div class="clear-both"></div>
    <h3 class="franklin">O Paraíso Que Escolhi</h3>
</header>
<section class="black-pearl">
    <div class="menu" [class.active]="navActive" (mouseenter)="navActive = true">
        <span class="text">{{ navActive ? 'FECHAR' : 'ABRIR' }} MENU</span>
        <span class="open-nav" (click)="navActive = !navActive">
            <span class="triangle"></span>
        </span>
        <nav>
            <a href="#">HOSPEDAGEM</a>
            <a href="#">ALIMENTAÇÃO</a>
            <a href="#">ROTEIRO TURÍSTICO</a>
            <a href="#">TURISMO DE AVENTURA</a>
            <a href="#">EVENTOS REGIONAIS</a>
            <a href="#">SAÚDE</a>
            <a href="#">SERVIÇOS</a>
            <a href="#">MERCADO IMOBILIÁRIO</a>
        </nav>
    </div>
    <div class="text-bottom">
        <div class="cities komika">Porto Belo <span class="freehand">e</span> Bombinhas</div>
        <div class="paradise freehand">Paraíso o Ano Todo</div>
    </div>
</section>
<app-footer></app-footer>

<script src="assets/js/main.js"></script>