<ngx-slick class="slider" #slickModal="slick-modal" [config]="slideConfig" (beforeChange)="beforeChange($event)" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide" (click)="slideClick(i)">
        <img src="{{ slide.imagem_principal }}" width="100%">
        <img src="{{ slide.imagem_principal }}" class="hover" width="100%">
    </div>
</ngx-slick>
<div class="typer">
  <app-typer-effect [text]="typerText" [speed]="46" [startAfter]="2000" [repeat]="5000"></app-typer-effect>
</div>
<header>
    <img [src]="activeImage" alt="capitaojack capitao jack" [class.loading]="loadingSlide">
    <h3>O Paraíso Que Escolhi</h3>
</header>
<section class="black-pearl">
    <div class="menu" [class.active]="navActive">
        <span class="text">{{ navActive ? 'FECHAR' : 'ABRIR' }} MENU</span>
        <span class="open-nav" (click)="navActive = !navActive">
            <span class="triangle"></span>
        </span>
        <nav>
            <a href="#">HOSPEDAGEM</a>
            <a href="#">ALIMENTAÇÃO</a>
            <a href="#">ROTEIRO TURÍSTICO</a>
            <a href="#">TURISMO DE AVENTURA</a>
            <a href="#">EVENTOS REGIONAIS</a>
            <a href="#">SAÚDE</a>
            <a href="#">SERVIÇOS</a>
            <a href="#">MERCADO IMOBILIÁRIO</a>
        </nav>
    </div>
    <div class="text-bottom">
        <div class="cities komika">Porto Belo <span class="freehand">e</span> Bombinhas</div>
        <div class="paradise freehand">Paraíso o Ano Todo</div>
    </div>
</section>
<app-footer></app-footer>

<script src="assets/js/main.js"></script>